<!DOCTYPE html>
<html lang="de">
<head>
	<title>Home</title>
</head>
<body>
	<div class="über_uns">
		<form action="us/" method="get" style="display: inline">
			<input type="submit" value="Über uns">
		</form>
	</div>
	<header>
		<div class="header-text">
			<h1>Service-Center AG</h1>
			<div class="vertical-line"></div>
			<p>Wie können wir Ihnen behilflich sein?<br>
			Wählen Sie den passenden Service.</p>
		</div><!-- End HeaderText -->
	</header>
	<link href="../../static/home/style.css" rel="stylesheet" type="text/css">
	<div class="row">
		<div class="column">
			<a href="1/"><img src="../../static/home/images/Haustechnik.jpg" style="width:100%" title="Haustechnik">
			<div class="overlay">
				<div class="text">
					Haustechnik
				</div>
			</div></a>
		</div>
		<div class="column">
			<a href="2/"><img src="../../static/home/images/Landschaftsbau.jpg" style="width:100%" title="Landschaftsbau">
			<div class="overlay">
				<div class="text">
					Landschaftsbau
				</div>
			</div></a>
		</div>
		<div class="column">
			<a href="3/"><img src="../../static/home/images/Strassenbau.jpg" style="width:100%" title="Strassenbau">
			<div class="overlay">
				<div class="text">
					Strassenbau
				</div>
			</div></a>
		</div>
	</div>
</body>
</html>