<!DOCTYPE html>
<html lang="de">
<head>
	<title>Über uns</title>
</head>
<body>
	<div class="back_button">
		<form action="../" method="get" style="display: inline">
			<input type="submit" value="Zurück">
		</form>
	</div>

        <div class="Bestellung">
		<form action="../orders/" method="get" style="display: inline">
			<input type="submit" value="Bestellungen">
		</form>
	</div>

	<div class="header-text">
		<h1>Über uns</h1>
		<div class="vertical-line"></div>
		<p>Verschiedene Kunden, ein Ziel</p>
	</div>
	<link href="../../static/home/style_us.css" rel="stylesheet" type="text/css">
        <img class="company" src="../../static/home/images/company.jpg" title="Landschaftsbau">
	<div class="us_text">
		Willkommen bei Service-Center AG!<br>
		<br>
		Unser Ziel ist es, für unsere Kunden eine Anlaufstelle für verschiedene Dienstleistungen zu sein.<br>
		Wir haben einen langen Weg hinter uns und wissen daher am besten, wie wir Sie mit hochwertigen und dennoch preiswerten Servies begeistern können.<br>
		Wir bieten all dies bei gleichzeitig exzellentem Kundenservice und freundlichem Support.<br>
		<br>
		Wir haben immer die neuesten Technologien im Bereich Haustechnik, Landschaftsbau und Strassenbau im Blick und stellen die Wünsche unserer Kunden an erste Stelle.<br>
		Deshalb haben wir zufriedene Kunden in den ganzen deutschsprachigen Regionen und sind jeden Tag aufs Neue davon begeistert, Teil dieser Dienstleistungen zu sein.<br>
		<br>
		Die Interessen unserer Kunden haben immer höchste Priorität für uns.<br>
		Von daher hoffen wir, dass Sie genauso viel Gefallen an unseren Produkte finden, wie es unsere Leidenschaft ist, sie Ihnen verfügbar zu machen.<br>
		<br>
		Der Bereich unseres Services ist Grenzenlos!<br>
		Hier als Hilfestellung eine Auflistung der möglichen Diensleistungen:<br>
		<br>
		<b><u>Haustechnik</u></b><br>
		Sanitärsystem (Wasser und Abwasser)<br>
		Heizungsanlage<br>
		Stromversorgung, Beleuchtung<br>
		Abluftanlage für Küche und Bad<br>
		Sicherheit (Alarmanlage, Blitzschutzanlage)<br>
		Kommunikation und Multimedia<br>
		Wartungsservice<br>
		Sarnierungen<br>
		Bodenverlegung<br>
		<br>
		<b><u>Landschaftsbau</u></b><br>
		Gartenanlagen<br>
		Sitzplätze<br>
		Terassen<br>
		Mauern<br>
		Bodenbeläge<br>
		Begrünungen<br>
		Bepflanzungen<br>
		Rasenanlagen<br>
		Sicht- und Lärmschutz<br>
		Gartenzäune<br>
		Wasser im Garten (Pool)<br>
		Beleuchtung<br>
		Bewässerung<br>
		Spielplätze<br>
		Spezial-Gartenbau<br>
		<br>
		<b><u>Strassenbau</u></b><br>
		Hochbau<br>
		Tiefbau<br>
		Strassenbau<br>
		Schienenbau<br>
		Belagsarbeiten<br>
		Werkleitungsbau<br>
		Entwässerung<br>
		Sarnierung<br>
		Pflästererarbeiten<br>
		<br>
		<br>
		Bei Fragen, konaktieren Sie uns:<br>
		<br>
		EMAIL<br>
		​ info@service_center.ch<br>
		<br>
		TELEFON<br>
		078-603-03-77<br>
		<br>
		ADRESSE<br>
		Rebbergstrasse 21<br>
		5621 Zufikon<br>
		Schweiz<br>
		<br>
		ÖFFNUNGSZEITEN<br>
		Mon – Fri 7:00 – 16:00<br>
		Sat – 9:00 – 15:00<br>
	</div>
</body>
</html>